.dl-horizontal dt{
	width: 250px !important;
}

.dl-horizontal dd {
    margin-left: 270px;
}

.icon{
	width: 16px;
	height: 16px;
}

.conferenceImage{
	-moz-box-shadow: 0px 5px 20px #ccc;
    -webkit-box-shadow: 0px 5px 20px #ccc;
    box-shadow: 0px 5px 20px #ccc;
    margin-top: -15px;
    width: 640px;
}

#infinite-scroll {
	bottom: 0;
	position: absolute;
}

.hidden {
	display: none;
}
.marginLeft0{
	 margin-left: 0px !important;
}

.marginRight10{
	margin-right: 10px !important;
}

.dl-horizontal dd{
	overflow: hidden;
    text-overflow: ellipsis;
}

.item {
  margin: 10px;
  float: left;
}

#listConferences .alert a {
	color: #FA8734;
	font-weight: bold;
}