.tweet {
	display:block;
	margin-bottom: 35px;
}

.tweet > legend {
	background-image:url(../../images/Tweet-icon.png);
	background-repeat: no-repeat;
	padding-left:45px;
	width:90%;
	font-size:18px;
	line-height: 25px;
}

.video {
	display:block;
}

.video > legend {
	background-image:url(../../images/Video-icon.png);
	background-repeat: no-repeat;
	padding-left:45px;
	width:90%;
	font-size:18px;
	line-height: 40px;
}

.categoryContainer > h2 {
	background-color: #2F6B86;
	color: white;
	border-radius: 5px;
}

.presentation {
	display:block;
}

.presentation > legend {
	background-image:url(../../images/Presentation-icon.png);
	background-repeat: no-repeat;
	padding-left:45px;
	width:90%;
	font-size:18px;
	line-height: 25px;
}

.picture {
	display:block;
}

.picture > legend {
	background-image:url(../../images/Picture-icon.png);
	background-repeat: no-repeat;
	padding-left:45px;
	width:90%;
	font-size:18px;
	line-height: 25px;
}

.activityContent .new {
	background-color:red;
	
}

.tweet > p {
	word-wrap: break-word;
}
.dashboardIcon{
	vertical-align: text-top !important;
}


.dashboardLink{
	color: white;
}

.dashboardLink:HOVER {
	color: orange;
	text-decoration: none;
}

.searchResults {
	background-color: #235064;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.15);
}

.searchResults #jumbotron {
	color:white;
}

.headerTweet{
	 margin-left: 20%;
    margin-top: -14%;
    margin-bottom: 3px;
}
#hallOfFame {
	width: 95%;
}
