/*!
 * Ken Corbett Bootstrap Extensions 
 *
 * Copyright 2012 Ken Corbett
 * Includes:
 * Font Awesome - http://fortawesome.github.com/Font-Awesome
 *
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
  background-image: url(../images/bg_texture.png);
}
a {
  color: #285c73;
}
a:hover {
  color: #142f3a;
}
.img-polaroid {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.1);
}
.text-warning {
  color: #fa8734;
}
.text-error {
  color: #e32b1e;
}
.text-success {
  color: #54873d;
}
.page-header {
  border-bottom: 1px solid #dddddd;
}
blockquote {
  border-left: 5px solid #dddddd;
}
blockquote.pull-right {
  border-right: 5px solid #dddddd;
}
legend {
  border-bottom: 1px solid #D5D5D5;
}
legend small {
  font-size: 12px;
}
input,
button,
select,
textarea {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
textarea.focused,
input[type="text"].focused,
input[type="password"].focused,
input[type="datetime"].focused,
input[type="datetime-local"].focused,
input[type="date"].focused,
input[type="month"].focused,
input[type="time"].focused,
input[type="week"].focused,
input[type="number"].focused,
input[type="email"].focused,
input[type="url"].focused,
input[type="search"].focused,
input[type="tel"].focused,
input[type="color"].focused,
.uneditable-input.focused {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
input.input-full {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
}
.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #fa8734;
}
.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #fa8734;
}
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  border-color: #fa8734;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #f56a06;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #fcc298;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #fcc298;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #fcc298;
}
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #fa8734;
  background-color: #fcf8e3;
  border-color: #fa8734;
}
.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #e32b1e;
}
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #e32b1e;
}
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border-color: #e32b1e;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #b72117;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ee8079;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ee8079;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ee8079;
}
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #e32b1e;
  background-color: #f2dede;
  border-color: #e32b1e;
}
.control-group.success > label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #54873d;
}
.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #54873d;
}
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  border-color: #54873d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
  border-color: #3e642d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #86bd6d;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #86bd6d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #86bd6d;
}
.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #54873d;
  background-color: #dff0d8;
  border-color: #54873d;
}
.control-group.info > label,
.control-group.info .help-block,
.control-group.info .help-inline {
  color: #3a87ad;
}
.control-group.info .checkbox,
.control-group.info .radio,
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  color: #3a87ad;
}
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  border-color: #3a87ad;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.info input:focus,
.control-group.info select:focus,
.control-group.info textarea:focus {
  border-color: #2d6987;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
}
.control-group.info .input-prepend .add-on,
.control-group.info .input-append .add-on {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #3a87ad;
}
.form-actions {
  background-color: transparent;
  border-top: 1px solid #D5D5D5;
}
.input-append .add-on,
.input-prepend .add-on {
  background-color: #dddddd;
}
.input-append .active,
.input-prepend .active {
  background-color: #9bd98a;
  border-color: #489931;
}
.form-vertical input,
.form-vertical textarea,
.form-vertical select,
.form-vertical .help-inline,
.form-vertical .uneditable-input,
.form-vertical .input-prepend,
.form-vertical .input-append {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-vertical .hide {
  display: none;
}
legend + .control-group {
  margin-top: 0;
}
.form-vertical .control-label {
  font-weight: bold;
  color: #777;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  padding-top: 5px;
  margin-bottom: 0;
  text-transform: uppercase;
}
.btn-file {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translate(-300px, 0) scale(4);
  direction: ltr;
  cursor: pointer;
}
.fileupload {
  margin-bottom: 9px;
}
.fileupload .uneditable-input {
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: text;
}
.fileupload .thumbnail {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center;
}
.fileupload .thumbnail > img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
}
.fileupload .btn {
  vertical-align: middle;
}
.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
  display: none;
}
.fileupload-inline .fileupload-controls {
  display: inline;
}
.fileupload-new .input-append .btn-file {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.thumbnail-borderless .thumbnail {
  border: none;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.fileupload-new.thumbnail-borderless .thumbnail {
  border: 1px solid #ddd;
}
table {
  background-color: #f7f7f7;
}
.table td {
  border-top: 1px solid #d2d2d2;
}
.table tbody + tbody {
  border-top: 2px solid #d2d2d2;
}
.table-bordered {
  border: 1px solid #d2d2d2;
}
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #d2d2d2;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #ebebeb;
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #e4e4e4;
}
[class^="icon-"],
[class*=" icon-"] {
  width: auto;
  height: auto;
  *margin-right: .3em;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  margin-top: 0;
}
/* White icons with optional class, or on hover/active states of certain elements */
.icon-white,
.nav-tabs > .active > a > [class^="icon-"],
.nav-tabs > .active > a > [class*=" icon-"],
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"] {
  background-image: none;
}
.icon-glass {
  background-position: 0% 0%;
}
.icon-music {
  background-position: 0% 0%;
}
.icon-search {
  background-position: 0% 0%;
}
.icon-envelope {
  background-position: 0% 0%;
}
.icon-heart {
  background-position: 0% 0%;
}
.icon-star {
  background-position: 0% 0%;
}
.icon-star-empty {
  background-position: 0% 0%;
}
.icon-user {
  background-position: 0% 0%;
}
.icon-film {
  background-position: 0% 0%;
}
.icon-th-large {
  background-position: 0% 0%;
}
.icon-th {
  background-position: 0% 0%;
}
.icon-th-list {
  background-position: 0% 0%;
}
.icon-ok {
  background-position: 0% 0%;
}
.icon-remove {
  background-position: 0% 0%;
}
.icon-zoom-in {
  background-position: 0% 0%;
}
.icon-zoom-out {
  background-position: 0% 0%;
}
.icon-off {
  background-position: 0% 0%;
}
.icon-signal {
  background-position: 0% 0%;
}
.icon-cog {
  background-position: 0% 0%;
}
.icon-trash {
  background-position: 0% 0%;
}
.icon-home {
  background-position: 0% 0%;
}
.icon-file {
  background-position: 0% 0%;
}
.icon-time {
  background-position: 0% 0%;
}
.icon-road {
  background-position: 0% 0%;
}
.icon-download-alt {
  background-position: 0% 0%;
}
.icon-download {
  background-position: 0% 0%;
}
.icon-upload {
  background-position: 0% 0%;
}
.icon-inbox {
  background-position: 0% 0%;
}
.icon-play-circle {
  background-position: 0% 0%;
}
.icon-repeat {
  background-position: 0% 0%;
}
.icon-refresh {
  background-position: 0% 0%;
}
.icon-list-alt {
  background-position: 0% 0%;
}
.icon-lock {
  background-position: 0% 0%;
}
.icon-flag {
  background-position: 0% 0%;
}
.icon-headphones {
  background-position: 0% 0%;
}
.icon-volume-off {
  background-position: 0% 0%;
}
.icon-volume-down {
  background-position: 0% 0%;
}
.icon-volume-up {
  background-position: 0% 0%;
}
.icon-qrcode {
  background-position: 0% 0%;
}
.icon-barcode {
  background-position: 0% 0%;
}
.icon-tag {
  background-position: 0% 0%;
}
.icon-tags {
  background-position: 0% 0%;
}
.icon-book {
  background-position: 0% 0%;
}
.icon-bookmark {
  background-position: 0% 0%;
}
.icon-print {
  background-position: 0% 0%;
}
.icon-camera {
  background-position: 0% 0%;
}
.icon-font {
  background-position: 0% 0%;
}
.icon-bold {
  background-position: 0% 0%;
}
.icon-italic {
  background-position: 0% 0%;
}
.icon-text-height {
  background-position: 0% 0%;
}
.icon-text-width {
  background-position: 0% 0%;
}
.icon-align-left {
  background-position: 0% 0%;
}
.icon-align-center {
  background-position: 0% 0%;
}
.icon-align-right {
  background-position: 0% 0%;
}
.icon-align-justify {
  background-position: 0% 0%;
}
.icon-list {
  background-position: 0% 0%;
}
.icon-indent-left {
  background-position: 0% 0%;
}
.icon-indent-right {
  background-position: 0% 0%;
}
.icon-facetime-video {
  background-position: 0% 0%;
}
.icon-picture {
  background-position: 0% 0%;
}
.icon-pencil {
  background-position: 0% 0%;
}
.icon-map-marker {
  background-position: 0% 0%;
}
.icon-adjust {
  background-position: 0% 0%;
}
.icon-tint {
  background-position: 0% 0%;
}
.icon-edit {
  background-position: 0% 0%;
}
.icon-share {
  background-position: 0% 0%;
}
.icon-check {
  background-position: 0% 0%;
}
.icon-move {
  background-position: 0% 0%;
}
.icon-step-backward {
  background-position: 0% 0%;
}
.icon-fast-backward {
  background-position: 0% 0%;
}
.icon-backward {
  background-position: 0% 0%;
}
.icon-play {
  background-position: 0% 0%;
}
.icon-pause {
  background-position: 0% 0%;
}
.icon-stop {
  background-position: 0% 0%;
}
.icon-forward {
  background-position: 0% 0%;
}
.icon-fast-forward {
  background-position: 0% 0%;
}
.icon-step-forward {
  background-position: 0% 0%;
}
.icon-eject {
  background-position: 0% 0%;
}
.icon-chevron-left {
  background-position: 0% 0%;
}
.icon-chevron-right {
  background-position: 0% 0%;
}
.icon-plus-sign {
  background-position: 0% 0%;
}
.icon-minus-sign {
  background-position: 0% 0%;
}
.icon-remove-sign {
  background-position: 0% 0%;
}
.icon-ok-sign {
  background-position: 0% 0%;
}
.icon-question-sign {
  background-position: 0% 0%;
}
.icon-info-sign {
  background-position: 0% 0%;
}
.icon-screenshot {
  background-position: 0% 0%;
}
.icon-remove-circle {
  background-position: 0% 0%;
}
.icon-ok-circle {
  background-position: 0% 0%;
}
.icon-ban-circle {
  background-position: 0% 0%;
}
.icon-arrow-left {
  background-position: 0% 0%;
}
.icon-arrow-right {
  background-position: 0% 0%;
}
.icon-arrow-up {
  background-position: 0% 0%;
}
.icon-arrow-down {
  background-position: 0% 0%;
}
.icon-share-alt {
  background-position: 0% 0%;
}
.icon-resize-full {
  background-position: 0% 0%;
}
.icon-resize-small {
  background-position: 0% 0%;
}
.icon-plus {
  background-position: 0% 0%;
}
.icon-minus {
  background-position: 0% 0%;
}
.icon-asterisk {
  background-position: 0% 0%;
}
.icon-exclamation-sign {
  background-position: 0% 0%;
}
.icon-gift {
  background-position: 0% 0%;
}
.icon-leaf {
  background-position: 0% 0%;
}
.icon-fire {
  background-position: 0% 0%;
}
.icon-eye-open {
  background-position: 0% 0%;
}
.icon-eye-close {
  background-position: 0% 0%;
}
.icon-warning-sign {
  background-position: 0% 0%;
}
.icon-plane {
  background-position: 0% 0%;
}
.icon-calendar {
  background-position: 0% 0%;
}
.icon-random {
  background-position: 0% 0%;
}
.icon-comment {
  background-position: 0% 0%;
}
.icon-magnet {
  background-position: 0% 0%;
}
.icon-chevron-up {
  background-position: 0% 0%;
}
.icon-chevron-down {
  background-position: 0% 0%;
}
.icon-retweet {
  background-position: 0% 0%;
}
.icon-shopping-cart {
  background-position: 0% 0%;
}
.icon-folder-close {
  background-position: 0% 0%;
}
.icon-folder-open {
  background-position: 0% 0%;
}
.icon-resize-vertical {
  background-position: 0% 0%;
}
.icon-resize-horizontal {
  background-position: 0% 0%;
}
.icon-hdd {
  background-position: 0% 0%;
}
.icon-bullhorn {
  background-position: 0% 0%;
}
.icon-bell {
  background-position: 0% 0%;
}
.icon-certificate {
  background-position: 0% 0%;
}
.icon-thumbs-up {
  background-position: 0% 0%;
}
.icon-thumbs-down {
  background-position: 0% 0%;
}
.icon-hand-right {
  background-position: 0% 0%;
}
.icon-hand-left {
  background-position: 0% 0%;
}
.icon-hand-up {
  background-position: 0% 0%;
}
.icon-hand-down {
  background-position: 0% 0%;
}
.icon-circle-arrow-right {
  background-position: 0% 0%;
}
.icon-circle-arrow-left {
  background-position: 0% 0%;
}
.icon-circle-arrow-up {
  background-position: 0% 0%;
}
.icon-circle-arrow-down {
  background-position: 0% 0%;
}
.icon-globe {
  background-position: 0% 0%;
}
.icon-wrench {
  background-position: 0% 0%;
}
.icon-tasks {
  background-position: 0% 0%;
}
.icon-filter {
  background-position: 0% 0%;
}
.icon-briefcase {
  background-position: 0% 0%;
}
.icon-fullscreen {
  background-position: 0% 0%;
}
/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: Lead Product Designer @ http://kyruus.com

    */
@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot');
  src: url('../font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../font/fontawesome-webfont.woff') format('woff'), url('../font/fontawesome-webfont.ttf') format('truetype'), url('../font/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: middle;
  font-size: 1.3333333333333333em;
}
.btn [class^="icon-"],
.nav-tabs [class^="icon-"],
.btn [class*=" icon-"],
.nav-tabs [class*=" icon-"] {
  /* keeps button heights with and without icons the same */

  line-height: .9em;
}
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large:before,
li .icon-large:before {
  /* 1.5 increased font size for icon-large * 1.25 width */

  width: 1.875em;
}
ul.icons {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -0.8em;
}
ul.icons li [class^="icon-"],
ul.icons li [class*=" icon-"] {
  width: .8em;
}
ul.icons li .icon-large:before,
ul.icons li .icon-large:before {
  /* 1.5 increased font size for icon-large * 1.25 width */

  vertical-align: initial;
}
/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-glass:before {
  content: "\f000";
}
.icon-music:before {
  content: "\f001";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-empty:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-film:before {
  content: "\f008";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-ok:before {
  content: "\f00c";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-zoom-in:before {
  content: "\f00e";
}
.icon-zoom-out:before {
  content: "\f010";
}
.icon-off:before {
  content: "\f011";
}
.icon-signal:before {
  content: "\f012";
}
.icon-cog:before {
  content: "\f013";
}
.icon-trash:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-file:before {
  content: "\f016";
}
.icon-time:before {
  content: "\f017";
}
.icon-road:before {
  content: "\f018";
}
.icon-download-alt:before {
  content: "\f019";
}
.icon-download:before {
  content: "\f01a";
}
.icon-upload:before {
  content: "\f01b";
}
.icon-inbox:before {
  content: "\f01c";
}
.icon-play-circle:before {
  content: "\f01d";
}
.icon-repeat:before {
  content: "\f01e";
}
/* \f020 doesn't work in Safari. all shifted one down */
.icon-refresh:before {
  content: "\f021";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-lock:before {
  content: "\f023";
}
.icon-flag:before {
  content: "\f024";
}
.icon-headphones:before {
  content: "\f025";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-book:before {
  content: "\f02d";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-print:before {
  content: "\f02f";
}
.icon-camera:before {
  content: "\f030";
}
.icon-font:before {
  content: "\f031";
}
.icon-bold:before {
  content: "\f032";
}
.icon-italic:before {
  content: "\f033";
}
.icon-text-height:before {
  content: "\f034";
}
.icon-text-width:before {
  content: "\f035";
}
.icon-align-left:before {
  content: "\f036";
}
.icon-align-center:before {
  content: "\f037";
}
.icon-align-right:before {
  content: "\f038";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-list:before {
  content: "\f03a";
}
.icon-indent-left:before {
  content: "\f03b";
}
.icon-indent-right:before {
  content: "\f03c";
}
.icon-facetime-video:before {
  content: "\f03d";
}
.icon-picture:before {
  content: "\f03e";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-adjust:before {
  content: "\f042";
}
.icon-tint:before {
  content: "\f043";
}
.icon-edit:before {
  content: "\f044";
}
.icon-share:before {
  content: "\f045";
}
.icon-check:before {
  content: "\f046";
}
.icon-move:before {
  content: "\f047";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-fast-backward:before {
  content: "\f049";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-fast-forward:before {
  content: "\f050";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-eject:before {
  content: "\f052";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-sign:before {
  content: "\f055";
}
.icon-minus-sign:before {
  content: "\f056";
}
.icon-remove-sign:before {
  content: "\f057";
}
.icon-ok-sign:before {
  content: "\f058";
}
.icon-question-sign:before {
  content: "\f059";
}
.icon-info-sign:before {
  content: "\f05a";
}
.icon-screenshot:before {
  content: "\f05b";
}
.icon-remove-circle:before {
  content: "\f05c";
}
.icon-ok-circle:before {
  content: "\f05d";
}
.icon-ban-circle:before {
  content: "\f05e";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-share-alt:before {
  content: "\f064";
}
.icon-resize-full:before {
  content: "\f065";
}
.icon-resize-small:before {
  content: "\f066";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-exclamation-sign:before {
  content: "\f06a";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-eye-open:before {
  content: "\f06e";
}
.icon-eye-close:before {
  content: "\f070";
}
.icon-warning-sign:before {
  content: "\f071";
}
.icon-plane:before {
  content: "\f072";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-random:before {
  content: "\f074";
}
.icon-comment:before {
  content: "\f075";
}
.icon-magnet:before {
  content: "\f076";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-retweet:before {
  content: "\f079";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-folder-close:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-resize-vertical:before {
  content: "\f07d";
}
.icon-resize-horizontal:before {
  content: "\f07e";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-twitter-sign:before {
  content: "\f081";
}
.icon-facebook-sign:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-key:before {
  content: "\f084";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-up:before {
  content: "\f087";
}
.icon-thumbs-down:before {
  content: "\f088";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-heart-empty:before {
  content: "\f08a";
}
.icon-signout:before {
  content: "\f08b";
}
.icon-linkedin-sign:before {
  content: "\f08c";
}
.icon-pushpin:before {
  content: "\f08d";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-signin:before {
  content: "\f090";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-github-sign:before {
  content: "\f092";
}
.icon-upload-alt:before {
  content: "\f093";
}
.icon-lemon:before {
  content: "\f094";
}
.icon-phone:before {
  content: "\f095";
}
.icon-check-empty:before {
  content: "\f096";
}
.icon-bookmark-empty:before {
  content: "\f097";
}
.icon-phone-sign:before {
  content: "\f098";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-hdd:before {
  content: "\f0a0";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-bell:before {
  content: "\f0a2";
}
.icon-certificate:before {
  content: "\f0a3";
}
.icon-hand-right:before {
  content: "\f0a4";
}
.icon-hand-left:before {
  content: "\f0a5";
}
.icon-hand-up:before {
  content: "\f0a6";
}
.icon-hand-down:before {
  content: "\f0a7";
}
.icon-circle-arrow-left:before {
  content: "\f0a8";
}
.icon-circle-arrow-right:before {
  content: "\f0a9";
}
.icon-circle-arrow-up:before {
  content: "\f0aa";
}
.icon-circle-arrow-down:before {
  content: "\f0ab";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-wrench:before {
  content: "\f0ad";
}
.icon-tasks:before {
  content: "\f0ae";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-fullscreen:before {
  content: "\f0b2";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-beaker:before {
  content: "\f0c3";
}
.icon-cut:before {
  content: "\f0c4";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-paper-clip:before {
  content: "\f0c6";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-sign-blank:before {
  content: "\f0c8";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-list-ol:before {
  content: "\f0cb";
}
.icon-strikethrough:before {
  content: "\f0cc";
}
.icon-underline:before {
  content: "\f0cd";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-pinterest-sign:before {
  content: "\f0d3";
}
.icon-google-plus-sign:before {
  content: "\f0d4";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-columns:before {
  content: "\f0db";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-envelope-alt:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-undo:before {
  content: "\f0e2";
}
.icon-legal:before {
  content: "\f0e3";
}
.icon-dashboard:before {
  content: "\f0e4";
}
.icon-comment-alt:before {
  content: "\f0e5";
}
.icon-comments-alt:before {
  content: "\f0e6";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-sitemap:before {
  content: "\f0e8";
}
.icon-umbrella:before {
  content: "\f0e9";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-user-md:before {
  content: "\f200";
}
.well {
  background-color: #e9e9e9;
  border: 1px solid #d7d7d7;
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
}
.well-raised {
  background-color: #ffffff;
  border-color: #fbfbfb;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.15);
}
.close {
  text-shadow: none;
}
.close:hover {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.btn {
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #fbfbfb, #e7e7e7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbfbfb), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #fbfbfb, #e7e7e7);
  background-image: -o-linear-gradient(top, #fbfbfb, #e7e7e7);
  background-image: linear-gradient(to bottom, #fbfbfb, #e7e7e7);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbfbfb', endColorstr='#ffe7e7e7', GradientType=0);
  border-color: #e7e7e7 #e7e7e7 #c0c0c0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e7e7e7;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e7e7e7;
  *background-color: #dadada;
}
.btn:active,
.btn.active {
  background-color: #cdcdcd \9;
}
.btn-primary.active,
.btn-warning.active,
.btn-special.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #295f77;
  background-image: -moz-linear-gradient(top, #2f6b86, #214d60);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2f6b86), to(#214d60));
  background-image: -webkit-linear-gradient(top, #2f6b86, #214d60);
  background-image: -o-linear-gradient(top, #2f6b86, #214d60);
  background-image: linear-gradient(to bottom, #2f6b86, #214d60);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2f6b86', endColorstr='#ff214d60', GradientType=0);
  border-color: #214d60 #214d60 #0e1f27;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #214d60;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #214d60;
  *background-color: #1b3e4d;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #142f3a \9;
}
.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #f27d32;
  background-image: -moz-linear-gradient(top, #fa8734, #e56d30);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fa8734), to(#e56d30));
  background-image: -webkit-linear-gradient(top, #fa8734, #e56d30);
  background-image: -o-linear-gradient(top, #fa8734, #e56d30);
  background-image: linear-gradient(to bottom, #fa8734, #e56d30);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffa8734', endColorstr='#ffe56d30', GradientType=0);
  border-color: #e56d30 #e56d30 #b24b16;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e56d30;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #e56d30;
  *background-color: #df5e1c;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #c95419 \9;
}
.btn-special {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #624184;
  background-image: -moz-linear-gradient(top, #6e4d91, #4f3070);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6e4d91), to(#4f3070));
  background-image: -webkit-linear-gradient(top, #6e4d91, #4f3070);
  background-image: -o-linear-gradient(top, #6e4d91, #4f3070);
  background-image: linear-gradient(to bottom, #6e4d91, #4f3070);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6e4d91', endColorstr='#ff4f3070', GradientType=0);
  border-color: #4f3070 #4f3070 #29193a;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #4f3070;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-special:hover,
.btn-special:active,
.btn-special.active,
.btn-special.disabled,
.btn-special[disabled] {
  color: #ffffff;
  background-color: #4f3070;
  *background-color: #42285e;
}
.btn-special:active,
.btn-special.active {
  background-color: #36214c \9;
}
.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #c5281e;
  background-image: -moz-linear-gradient(top, #e32b1e, #99231f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e32b1e), to(#99231f));
  background-image: -webkit-linear-gradient(top, #e32b1e, #99231f);
  background-image: -o-linear-gradient(top, #e32b1e, #99231f);
  background-image: linear-gradient(to bottom, #e32b1e, #99231f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe32b1e', endColorstr='#ff99231f', GradientType=0);
  border-color: #99231f #99231f #591412;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #99231f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #99231f;
  *background-color: #841e1b;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #6f1916 \9;
}
.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3e8732;
  background-image: -moz-linear-gradient(top, #489931, #2e6b33);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#489931), to(#2e6b33));
  background-image: -webkit-linear-gradient(top, #489931, #2e6b33);
  background-image: -o-linear-gradient(top, #489931, #2e6b33);
  background-image: linear-gradient(to bottom, #489931, #2e6b33);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff489931', endColorstr='#ff2e6b33', GradientType=0);
  border-color: #2e6b33 #2e6b33 #17351a;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2e6b33;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #2e6b33;
  *background-color: #26592b;
}
.btn-success:active,
.btn-success.active {
  background-color: #1f4722 \9;
}
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #4087a7;
  background-image: -moz-linear-gradient(top, #5993b2, #1a7596);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5993b2), to(#1a7596));
  background-image: -webkit-linear-gradient(top, #5993b2, #1a7596);
  background-image: -o-linear-gradient(top, #5993b2, #1a7596);
  background-image: linear-gradient(to bottom, #5993b2, #1a7596);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5993b2', endColorstr='#ff1a7596', GradientType=0);
  border-color: #1a7596 #1a7596 #0f4255;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #1a7596;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #1a7596;
  *background-color: #166480;
}
.btn-info:active,
.btn-info.active {
  background-color: #12536b \9;
}
.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #474747;
  background-image: -moz-linear-gradient(top, #555555, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#333333));
  background-image: -webkit-linear-gradient(top, #555555, #333333);
  background-image: -o-linear-gradient(top, #555555, #333333);
  background-image: linear-gradient(to bottom, #555555, #333333);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff333333', GradientType=0);
  border-color: #333333 #333333 #0d0d0d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #333333;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #333333;
  *background-color: #262626;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #1a1a1a \9;
}
.btn-link {
  color: #285c73;
}
.btn-link:hover {
  color: #142f3a;
}
.btn-group > .btn + .dropdown-toggle {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-group > .btn-mini + .dropdown-toggle {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-group > .btn-small + .dropdown-toggle {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-group > .btn-large + .dropdown-toggle {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-group.open .btn.dropdown-toggle {
  background-color: #e7e7e7;
}
.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #214d60;
}
.btn-group.open .btn-warning.dropdown-toggle {
  background-color: #e56d30;
}
.btn-group.open .btn-special.dropdown-toggle {
  background-color: #4f3070;
}
.btn-group.open .btn-danger.dropdown-toggle {
  background-color: #99231f;
}
.btn-group.open .btn-success.dropdown-toggle {
  background-color: #2e6b33;
}
.btn-group.open .btn-info.dropdown-toggle {
  background-color: #1a7596;
}
.btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #333333;
}
.btn-special .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.alert {
  color: #fa8734;
}
.alert-success {
  color: #54873d;
}
.alert-danger,
.alert-error {
  color: #e32b1e;
}
.alert-floating {
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 10px 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 10px 20px rgba(0, 0, 0, 0.1);
}
.nav > li > a:hover {
  background-color: #ccc;
}
.nav-header {
  color: #555555;
}
.nav-list > .active > a,
.nav-list > .active > a:hover {
  background-color: #285c73;
}
.nav-tabs > li > a:hover {
  border-color: #dddddd #dddddd #dddddd;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  background-color: #285c73;
}
.nav .dropdown-toggle .caret {
  border-top-color: #285c73;
  border-bottom-color: #285c73;
  margin-top: 6px;
}
.nav .dropdown-toggle:hover .caret {
  border-top-color: #142f3a;
  border-bottom-color: #142f3a;
}
/* move down carets for tabs */
.tabs-left > .nav-tabs > li > a:hover {
  border-color: #dddddd #dddddd #dddddd #dddddd;
}
.tabs-right > .nav-tabs > li > a:hover {
  border-color: #dddddd #dddddd #dddddd #dddddd;
}
.navbar {
  color: #555555;
}
.navbar ul {
  margin-left: 0;
}
.navbar-inner {
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#ececec));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
  background-image: linear-gradient(to bottom, #f9f9f9, #ececec);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffececec', GradientType=0);
  border: 1px solid #cecece;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}
.navbar .brand {
  color: #555555;
  text-shadow: 0 1px 0 #f9f9f9;
}
.navbar-link {
  color: #555555;
}
.navbar-link:hover {
  color: #333333;
}
.navbar .divider-vertical {
  border-left: 1px solid #ececec;
  border-right: 1px solid #f9f9f9;
}
.navbar-search .search-query {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
}
.navbar-static-top .brand,
.navbar-fixed-top .brand,
.nvabar-fixed-bottom .brand {
  margin-left: -10px;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 12px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 12px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 12px rgba(0, 0, 0, 0.2);
}
.navbar-fixed-bottom {
  bottom: 0;
}
.navbar-fixed-bottom .navbar-inner {
  -webkit-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5), 0 -5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5), 0 -5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5), 0 -5px 10px rgba(0, 0, 0, 0.2);
}
.navbar-spacer {
  min-height: 40px;
}
.navbar .nav > li > a {
  color: #555555;
  text-shadow: none;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #333333;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #555555;
  background-color: #dfdfdf;
}
.navbar .btn-navbar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #e7e7e7;
  background-image: -moz-linear-gradient(top, #ececec, #dfdfdf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ececec), to(#dfdfdf));
  background-image: -webkit-linear-gradient(top, #ececec, #dfdfdf);
  background-image: -o-linear-gradient(top, #ececec, #dfdfdf);
  background-image: linear-gradient(to bottom, #ececec, #dfdfdf);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffececec', endColorstr='#ffdfdfdf', GradientType=0);
  border-color: #dfdfdf #dfdfdf #b9b9b9;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #dfdfdf;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #dfdfdf;
  *background-color: #d3d3d3;
}
.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
  background-color: #c6c6c6 \9;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #dfdfdf;
  color: #555555;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}
.navbar-inverse {
  color: #cccccc;
}
.navbar-inverse .navbar-inner {
  background-color: #235064;
  background-image: -moz-linear-gradient(top, #285c73, #1b3e4d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#285c73), to(#1b3e4d));
  background-image: -webkit-linear-gradient(top, #285c73, #1b3e4d);
  background-image: -o-linear-gradient(top, #285c73, #1b3e4d);
  background-image: linear-gradient(to bottom, #285c73, #1b3e4d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff285c73', endColorstr='#ff1b3e4d', GradientType=0);
  border-color: #142f3a;
}
.navbar-inverse .brand {
  color: #ffffff;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}
.navbar-inverse .nav > li > a {
  color: #cccccc;
}
.navbar-inverse .nav > li > a:hover {
  color: #ffffff;
}
.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  background-color: transparent;
  color: #ffffff;
}
.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #ffffff;
  background-color: #1b3e4d;
}
.navbar-inverse .navbar-link {
  color: #cccccc;
}
.navbar-inverse .navbar-link:hover {
  color: #ffffff;
}
.navbar-inverse .divider-vertical {
  border-left-color: #1b3e4d;
  border-right-color: #285c73;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #1b3e4d;
  color: #ffffff;
}
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #cccccc;
  border-bottom-color: #cccccc;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-inverse .navbar-search .search-query {
  color: #444444;
  background-color: #cccccc;
  border-color: #222222;
}
.navbar-inverse .navbar-search .search-query:-moz-placeholder {
  color: #777777;
}
.navbar-inverse .navbar-search .search-query:-ms-input-placeholder {
  color: #777777;
}
.navbar-inverse .navbar-search .search-query::-webkit-input-placeholder {
  color: #777777;
}
.navbar-inverse .navbar-search .search-query:focus,
.navbar-inverse .navbar-search .search-query.focused {
  color: #444444;
  text-shadow: 0 1px 0 #bbbbbb;
  background-color: #f2f2f2;
}
.navbar-inverse .navbar-search .search-query:focus:-moz-placeholder,
.navbar-inverse .navbar-search .search-query.focused:-moz-placeholder {
  color: #888888;
}
.navbar-inverse .navbar-search .search-query:focus:-ms-input-placeholder,
.navbar-inverse .navbar-search .search-query.focused:-ms-input-placeholder {
  color: #888888;
}
.navbar-inverse .navbar-search .search-query:focus::-webkit-input-placeholder,
.navbar-inverse .navbar-search .search-query.focused::-webkit-input-placeholder {
  color: #888888;
}
.navbar-inverse .btn-navbar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #1c4151;
  background-image: -moz-linear-gradient(top, #214d60, #142f3a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#214d60), to(#142f3a));
  background-image: -webkit-linear-gradient(top, #214d60, #142f3a);
  background-image: -o-linear-gradient(top, #214d60, #142f3a);
  background-image: linear-gradient(to bottom, #214d60, #142f3a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff214d60', endColorstr='#ff142f3a', GradientType=0);
  border-color: #142f3a #142f3a #010101;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #142f3a;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar-inverse .btn-navbar:hover,
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active,
.navbar-inverse .btn-navbar.disabled,
.navbar-inverse .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #142f3a;
  *background-color: #0e1f27;
}
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active {
  background-color: #071014 \9;
}
.breadcrumb {
  background-color: #e8e8e8;
}
.breadcrumb li {
  text-shadow: 0 1px 1px #fff;
}
.pagination ul {
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  background: #f2f2f2;
  border: 1px solid #bbbbbb;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 2px;
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
}
.pagination ul > li > a,
.pagination ul > li > span {
  margin: 4px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #fcfcfc;
  background-image: -moz-linear-gradient(top, #ffffff, #f8f8f8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f8f8f8));
  background-image: -webkit-linear-gradient(top, #ffffff, #f8f8f8);
  background-image: -o-linear-gradient(top, #ffffff, #f8f8f8);
  background-image: linear-gradient(to bottom, #ffffff, #f8f8f8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  border-color: #f8f8f8 #f8f8f8 #d2d2d2;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f8f8f8;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #285c73;
  border: 1px solid #bbbbbb;
  border-left-width: 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 5px 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 5px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 5px 8px rgba(0, 0, 0, 0.15);
}
.pagination ul > li > a:hover,
.pagination ul > li > span:hover,
.pagination ul > li > a:active,
.pagination ul > li > span:active,
.pagination ul > li > a.active,
.pagination ul > li > span.active,
.pagination ul > li > a.disabled,
.pagination ul > li > span.disabled,
.pagination ul > li > a[disabled],
.pagination ul > li > span[disabled] {
  color: #ffffff;
  background-color: #f8f8f8;
  *background-color: #ebebeb;
}
.pagination ul > li > a:active,
.pagination ul > li > span:active,
.pagination ul > li > a.active,
.pagination ul > li > span.active {
  background-color: #dfdfdf \9;
}
.pagination ul > li > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #285c73;
}
.pagination ul > li > a:active {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.pagination ul > .active > a,
.pagination ul > .active > span {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover {
  color: #999999;
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
a.thumbnail:hover {
  border-color: #285c73;
}
.label,
.badge {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.label {
  padding: 3px 8px 3px;
}
.badge {
  padding: 1px 5px 1px 6px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
a.label:hover,
a.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.label-raised,
.badge-raised {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
}
.label-bordered {
  border: 3px solid white;
}
.badge-bordered {
  border: 3px solid white;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
}
.label-raised.label-bordered,
.badge-raised.badge-bordered {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 3px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 3px rgba(0, 0, 0, 0.6);
}
.label-primary,
.badge-primary {
  background-color: #2f6b86;
}
.label-primary[href],
.badge-primary[href] {
  background-color: #214d60;
}
.label-special,
.badge-special {
  background-color: #6e4d91;
}
.label-special[href],
.badge-special[href] {
  background-color: #553b70;
}
.label-passive,
.badge-passive {
  background-color: #ffffff;
  color: #333333;
}
.label-passive[href],
.badge-passive[href] {
  background-color: #e6e6e6;
  color: #333333;
}
.label-important,
.badge-important {
  background-color: #e32b1e;
}
.label-important[href],
.badge-important[href] {
  background-color: #b72117;
}
.label-warning,
.badge-warning {
  background-color: #fa8734;
}
.label-warning[href],
.badge-warning[href] {
  background-color: #f56a06;
}
.label-success,
.badge-success {
  background-color: #54873d;
}
.label-success[href],
.badge-success[href] {
  background-color: #3e642d;
}
.label-info,
.badge-info {
  background-color: #3a87ad;
}
.label-info[href],
.badge-info[href] {
  background-color: #2d6987;
}
.btn-primary .label-passive,
.btn-primary .badge-passive {
  color: #2f6b86;
}
.btn-info .label-passive,
.btn-info .badge-passive {
  color: #5993b2;
}
.btn-special .label-passive,
.btn-special .badge-passive {
  color: #6e4d91;
}
.btn-success .label-passive,
.btn-success .badge-passive {
  color: #489931;
}
.btn-warning .label-passive,
.btn-warning .badge-passive {
  color: #fa8734;
}
.btn-danger .label-passive,
.btn-danger .badge-passive {
  color: #e32b1e;
}
.btn-inverse .label-passive,
.btn-inverse .badge-passive {
  color: #555555;
}
.btn-primary .badge.badge-dark-text,
.btn-info .badge.badge-dark-text,
.btn-special .badge.badge-dark-text,
.btn-success .badge.badge-dark-text,
.btn-warning .badge.badge-dark-text,
.btn-danger .badge.badge-dark-text,
.btn-inverse .badge.badge-dark-text,
.btn-primary .label.label-dark-text,
.btn-info .label.label-dark-text,
.btn-special .label.label-dark-text,
.btn-success .label.label-dark-text,
.btn-warning .label.label-dark-text,
.btn-danger .label.label-dark-text,
.btn-inverse .label.label-dark-text {
  color: #333333;
}
.badge-container {
  position: relative;
}
.badge-container .badge-top-right {
  position: absolute;
  top: -10px;
  right: -10px;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
.progress {
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #eeeeee, #f4f4f4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#f4f4f4));
  background-image: -webkit-linear-gradient(top, #eeeeee, #f4f4f4);
  background-image: -o-linear-gradient(top, #eeeeee, #f4f4f4);
  background-image: linear-gradient(to bottom, #eeeeee, #f4f4f4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#fff4f4f4', GradientType=0);
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 5px;
}
.progress .bar {
  background-color: #295f77;
  background-image: -moz-linear-gradient(top, #2f6b86, #214d60);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2f6b86), to(#214d60));
  background-image: -webkit-linear-gradient(top, #2f6b86, #214d60);
  background-image: -o-linear-gradient(top, #2f6b86, #214d60);
  background-image: linear-gradient(to bottom, #2f6b86, #214d60);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2f6b86', endColorstr='#ff214d60', GradientType=0);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), 0 5px 8px rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), 0 5px 8px rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), 0 5px 8px rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.progress-striped .bar {
  background-color: #2f6b86;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-danger .bar,
.progress .bar-danger {
  background-color: #d0372e;
  background-image: -moz-linear-gradient(top, #e64035, #ae2823);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e64035), to(#ae2823));
  background-image: -webkit-linear-gradient(top, #e64035, #ae2823);
  background-image: -o-linear-gradient(top, #e64035, #ae2823);
  background-image: linear-gradient(to bottom, #e64035, #ae2823);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe64035', endColorstr='#ffae2823', GradientType=0);
}
.progress-danger.progress-striped .bar,
.progress-striped .bar-danger {
  background-color: #db281b;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-success .bar,
.progress .bar-success {
  background-color: #469939;
  background-image: -moz-linear-gradient(top, #51ac37, #367d3c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#51ac37), to(#367d3c));
  background-image: -webkit-linear-gradient(top, #51ac37, #367d3c);
  background-image: -o-linear-gradient(top, #51ac37, #367d3c);
  background-image: linear-gradient(to bottom, #51ac37, #367d3c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff51ac37', endColorstr='#ff367d3c', GradientType=0);
}
.progress-success.progress-striped .bar,
.progress-striped .bar-success {
  background-color: #44912f;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-info .bar,
.progress .bar-info {
  background-color: #4c95b4;
  background-image: -moz-linear-gradient(top, #6a9eba, #1e86ac);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6a9eba), to(#1e86ac));
  background-image: -webkit-linear-gradient(top, #6a9eba, #1e86ac);
  background-image: -o-linear-gradient(top, #6a9eba, #1e86ac);
  background-image: linear-gradient(to bottom, #6a9eba, #1e86ac);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6a9eba', endColorstr='#ff1e86ac', GradientType=0);
}
.progress-info.progress-striped .bar,
.progress-striped .bar-info {
  background-color: #528eaf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-warning .bar,
.progress .bar-warning {
  background-color: #f38c4a;
  background-image: -moz-linear-gradient(top, #fb964d, #e87d47);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fb964d), to(#e87d47));
  background-image: -webkit-linear-gradient(top, #fb964d, #e87d47);
  background-image: -o-linear-gradient(top, #fb964d, #e87d47);
  background-image: linear-gradient(to bottom, #fb964d, #e87d47);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffb964d', endColorstr='#ffe87d47', GradientType=0);
}
.progress-warning.progress-striped .bar,
.progress-striped .bar-warning {
  background-color: #fa812a;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-inverse .bar,
.progress .bar-inverse {
  background-color: #474747;
  background-image: -moz-linear-gradient(top, #555555, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#333333));
  background-image: -webkit-linear-gradient(top, #555555, #333333);
  background-image: -o-linear-gradient(top, #555555, #333333);
  background-image: linear-gradient(to bottom, #555555, #333333);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff333333', GradientType=0);
}
.progress-inverse.progress-striped .bar,
.progress-striped .bar-inverse {
  background-color: #3b3b3b;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-passive .bar,
.progress .bar-passive {
  background-color: #cdcdcd;
  background-image: -moz-linear-gradient(top, #d5d5d5, #c0c0c0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d5d5d5), to(#c0c0c0));
  background-image: -webkit-linear-gradient(top, #d5d5d5, #c0c0c0);
  background-image: -o-linear-gradient(top, #d5d5d5, #c0c0c0);
  background-image: linear-gradient(to bottom, #d5d5d5, #c0c0c0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd5d5d5', endColorstr='#ffc0c0c0', GradientType=0);
}
.progress-passive.progress-striped .bar,
.progress-striped .bar-passive {
  background-color: #d5d5d5;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.carousel-control {
  top: 15px;
  margin-top: 0px;
  font-size: 34px;
  line-height: 42px;
  opacity: 0.35;
  filter: alpha(opacity=35);
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.6);
}
.carousel-caption h1,
.carousel-caption h2,
.carousel-caption h3,
.carousel-caption h4,
.carousel-caption h5,
.carousel-caption h6,
.carousel-caption p {
  color: #ffffff;
  line-height: normal;
  margin: 0;
}
.hero-unit {
  padding: 60px 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.15);
}
.pricing {
  padding: 25px 5px;
}
.pricing-wrapper {
  border: 1px solid #dddddd;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 3px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 3px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 3px 8px rgba(0, 0, 0, 0.2);
  background-color: #eee;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.pricing-body {
  padding: 0 15px 15px;
}
.pricing-price {
  border: none;
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 40px;
  line-height: 45px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}
.pricing-price span {
  color: #bbb;
  font-size: 18px;
  text-shadow: none;
}
.pricing ul {
  list-style: none;
  margin: 0;
  font-size: 16px;
  padding: 15px;
  background-color: white;
  border: 1px solid #ddd;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
}
.pricing li {
  padding: 5px;
}
.pricing-header {
  padding: 5px;
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  background-color: #f6f6f6;
  background-image: -moz-linear-gradient(top, #fbfbfb, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbfbfb), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #fbfbfb, #eeeeee);
  background-image: -o-linear-gradient(top, #fbfbfb, #eeeeee);
  background-image: linear-gradient(to bottom, #fbfbfb, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbfbfb', endColorstr='#ffeeeeee', GradientType=0);
}
.pricing-header h1 {
  color: #3f862b;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 0;
  text-shadow: 0 1px 0 #ffffff, 1px 1px 1px #ffffff, -1px 1px 1px #ffffff;
}
.pricing-footer {
  padding-top: 15px;
}
.pricing-recommended {
  padding: 0;
}
.pricing-recommended .pricing-wrapper {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.2);
}
.pricing-recommended .pricing-header h1 {
  color: #357a99;
}
.pricing-recommended .pricing-price {
  font-size: 50px;
}
.pricing-orange h1 {
  color: #fa8734;
}
.pricing-red h1 {
  color: #c83025;
}
.pricing-purple h1 {
  color: #6e4d91;
}
@media (max-width: 979px) {
  .nav-collapse .nav .nav-header {
    color: #555555;
  }
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    color: #555555;
  }
  .navbar-inverse .nav-collapse .nav > li > a,
  .navbar-inverse .nav-collapse .dropdown-menu a {
    color: #cccccc;
  }
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .dropdown-menu a:hover {
    background-color: #ececec;
  }
  .navbar-inverse .nav-collapse .nav > li > a:hover,
  .navbar-inverse .nav-collapse .dropdown-menu a:hover {
    background-color: #1b3e4d;
  }
  .nav-collapse .navbar-form,
  .nav-collapse .navbar-search {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
  }
  .navbar-inverse .nav-collapse .navbar-form,
  .navbar-inverse .nav-collapse .navbar-search {
    border-top-color: #1b3e4d;
    border-bottom-color: #1b3e4d;
  }
  .navbar-spacer {
    min-height: 0;
  }
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
