/* Custom CSS for the example pages */

footer {
    margin-top: 20px;
    padding: 30px;
    background: #d2d2d2;
    border-top: 1px solid #999;
    box-shadow: inset 0 2px 5px rgba(0,0,0,.4);
}

footer .social .btn {
    width: 24px;
    margin: 4px;
}
/* Styles for the Blog */

#main {
    background-image: url(../images/1.jpg);
    background-size: cover;
    height: 100px;
    padding-top: 250px;
    color: #fff;
}
#main h1 {
    color: #fff;
}



/* Styles for the Login Page */

#login {
    margin: 80px auto 30px;
    width: 80%;
    min-width: 280px;
    max-width: 400px;

}



/* Styles for the Style Gallery */

#jumbotron {
    line-height: normal;
    color: #333;
}

#buttons .btn,
#buttons .btn-group,
#labels .label,
#badges .badge {
    display: inline-block;
    margin: 5px 1px;
}
#buttons .btn-group .btn {
    margin: 0;
}

#buttons td,
#buttons th {
    text-align: center;
    vertical-align: middle;
}


#icons ul {
    list-style: none;
}

#icons li {
    display: inline-block;
    font-size: 24px;
    padding: 5px;
    line-height: normal;
}

.section-header {
    padding-top: 15px;
}

/* Animation to demonstrate the progress bars */
@-webkit-keyframes progress {
    0% {
        width: 3%;
    }
    80% {
        width: 99.9%;
    }
    100% {
        width: 100%;
    }
}

.animate {
    -webkit-animation-name: progress;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
}
.animate.slow {
    -webkit-animation-duration: 12s;
}
.animate.fast {
    -webkit-animation-duration: 4s;
}
.animate.medium {
    -webkit-animation-duration: 6s;
}
.animate.verySlow {
    -webkit-animation-duration: 16s;
}

.brand .logo {
    height: 10px;
}