#map {
    display: block;
    width: 100%;
    height: 250px;
    margin: 0 auto 40px;
    -moz-box-shadow: 0px 5px 20px #ccc;
    -webkit-box-shadow: 0px 5px 20px #ccc;
    box-shadow: 0px 5px 20px #ccc;
}

.locationSearchBox{
	text-align: center;
}